$rd-theme-header-bg : #0000cc;
$rd-theme-head-menu-font : #ffffff;
$rd-theme-head-menu-font-hover : #66ccff;
$rd-theme-head-submenu-bg : #f3f3f4;
$rd-theme-head-submenu-bg-hoer : #cc3136;
$rd-theme-head-submenu-font-hover : #ffffff;
$rd-theme-color-darkgray : #3b3b3b;
$rd-theme-color-gray : #cccccc;
$rd-theme-color-lightgray : #ebebeb;
$rd-theme-color-blue : #2b589d;
$rd-theme-color-red : #ca262c;
$rd-theme-button-bg : #ca262c;
$rd-theme-button-bg-hover : #971217;
$rd-theme-button-text : #ffffff;
$rd-theme-footer-bg : #ffffff;
$rd-theme-footer-text : #3b3b3b;
$rd-theme-footer-bg-copyright : #ffffff;
$rd-theme-footer-text-copyright : #3b3b3b;
$rd-theme-body-bg: #ebebeb;
$rd-theme-main-color: #0000cc;
$rd-theme-font-header: 'Geomanistregular';
$rd-theme-font-body: 'Geomanistregular';
$rd-theme-widget-title-color: #ffffff;
$rd-theme-font-secondary: 'multicolore';
$rd-theme-blogfeature-style3-bgcolor: #6c8d99;
