@import "styles_variables.scss";

@media screen and (min-width: 992px){
    ul.primary-menu{
        .dropdown-toggle::after{
            display: none;
        }
    }
    #mobile-menu {
    display: none !important;
    }
}

@media screen and (max-width: 991px){
    html,body{
        margin:0;
        padding:0;
        border-left: 8px solid #0000cc !important;
        border-right: 8px solid #0000cc !important;
        border-bottom: 8px solid #0000cc !important;
    }
    .site-header{
        ul.primary-menu{
            > li{
                > a{
                    padding: 10px 0px;
                }
            }
        }
    }

    .navbar-light .navbar-toggler{
        border: 0px;
        color: $rd-theme-head-menu-font-hover;
    }

    .navbar-toggler.collapsed{
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }
    }
    .navbar-toggler:not(.collapsed) {
        .navbar-toggler-icon{
        background-image: url("../img/close.png") !important;
        background-size: 16px;
        }
    }


        .dropdown-toggle::after{
            border: none !important;
            background-image: url('../img/mobile-arrow-1.png');
            width: 9px !important;
            height: 15px !important;
            position: absolute;
            right: 0;
            top: 15px;
        }


    .dropdown.show {
        .dropdown-toggle::after {
            background-image: url('../img/mobile-arrow-2.png');
            border: none !important;
            width: 9px !important;
            height: 15px !important;
            position: absolute;
            right: 0;
            top: 15px;
        }
    }

    .dropdown:not(.show) {
        .dropdown-toggle::after {
        background-image: url("../img/mobile-arrow-1.png") !important;
        }
    }


    .mainmenusection{
        display: none;
    }

    .mobilelook{
        position: absolute  !important;
        left: calc(100% - 70px);
        top: 16px;
    }

    .site-footer{
        .widget-title{
                    border-top: 1px solid #cccccc;
            &.toggle{
                &:before{
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: 20px;
                    font-size: 2em;
                    top: 4px;
                }
                &.collapsed{
                    &:before{
                        content: '\f105';
                    }
                }
                &:not(.collapsed){
                    &:before{
                        content: '\f104';
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .mainmenusection{
        display: none;
    }

    .form-control {
    min-width: 180px;
    max-width: 100%;
    }
}

@media screen and (max-width: 576px){
    .totop{
        right: 15px;
        bottom: 45px;
        font-size: 0px;
    }

    .site-header{
        .container{
            padding: 0px;
        }
    }

}
