@import "compass";
@import "styles_variables.scss";

@font-face {
    font-family: 'multicolore';
    src:url('../fonts/multicolore/Multicolore.ttf.woff') format('woff'),
    url('../fonts/multicolore/Multicolore.ttf.svg#Multicolore') format('svg'),
    url('../fonts/multicolore/Multicolore.ttf.eot'),
    url('../fonts/multicolore/Multicolore.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Geomanistregular';
    src: url('../fonts/geomanist-regular/geomanist-regular-webfont.eot');
    src: url('../fonts/geomanist-regular/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geomanist-regular/geomanist-regular-webfont.woff2') format('woff2'),
    url('../fonts/geomanist-regular/geomanist-regular-webfont.woff') format('woff'),
    url('../fonts/geomanist-regular/geomanist-regular-webfont.ttf') format('truetype'),
    url('../fonts/geomanist-regular/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Geomanistregular';
    src: url('../fonts/geomanist-light/geomanist-light-webfont.eot');
    src: url('../fonts/geomanist-light/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-light/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-light/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/geomanist-light/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/geomanist-light/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Geomanistregular';
    src: url('../fonts/geomanist-bold/geomanist-bold-webfont.eot');
    src: url('../fonts/geomanist-bold/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-bold/geomanist-bold-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-bold/geomanist-bold-webfont.woff') format('woff'),
         url('../fonts/geomanist-bold/geomanist-bold-webfont.ttf') format('truetype'),
         url('../fonts/geomanist-bold/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: 700;
    font-style: normal;

}


html,body{
    margin:0;
    padding:0;
    border-left: 20px solid $rd-theme-main-color;
    border-right: 20px solid $rd-theme-main-color;
    border-bottom: 20px solid $rd-theme-main-color;
}

body.home{
    background: $rd-theme-body-bg;
    background-image: url('../img/head-section-bg.jpg');
    background-repeat: repeat-x;
    background-position: top center;

    .page {
        background-color: white;
    }
}

a,
button{
    outline: 0 !important;

    &:hover,
    &:visited,
    &:active{
        outline: 0 !important;
    }
}

.home {
    .site-header {
        box-shadow: none;
        .main-logo {
            img {
                box-shadow: none;
            }
        }
    }

    .totalpoll-choices {
        border: 0 !important;
        margin: 0 !important;

        .totalpoll-choice {
            /*padding-bottom: 20px !important;*/
            min-height: 125px;

            .totalpoll-choice-checkbox-container {
                position:  absolute !important;
                opacity: 0;
                border: 0 !important;
            }
            .totalpoll-choice-label {
                text-align: center !important;
                font: {
                    size: 15px !important;
                    family: 'multicolore' !important;

                }
            }
            .totalpoll-choice-image {
                text-align: center !important;
            }
            .totalpoll-choice-content {
                padding: 5px 0 !important;
            }
            .totalpoll-choice-container {
                border: 0 !important;
                background-color: transparent !important;
                &:hover {
                    background-color: transparent !important;
                }
            }
            .totalpoll-choice-votes-bar {
                display: none !important;
            }
            .totalpoll-choice-votes {
                text-align: center;
                font: {
                    size: 15px !important;
                    family: 'multicolore' !important;
                }
                margin-top: 0 !important;
            }

            .totalpoll-choice-votes-text {
                padding-left: 0px !important;
            }
        }
        .totalpoll-choice-separator {
            display: none !important;
        }
    }
    .totalpoll-question {
        text-align: center;
        text-decoration: underline;
        font: {
            size: 18px !important;
            family: 'Geomanistregular' !important;
            weight: 400 !important;
        }
    }

    .totalpoll-buttons {
        display: none !important;
    }



    .framenobottom #pl-w5a8cf0cc111ab .so-panel {
    margin-bottom: 0px !important;
    }
}

.site-header{
    position:relative;
    z-index:999;
    background: $rd-theme-header-bg;
    box-shadow: 0 8px 6px -6px #cccccc;

    .header-logo{
        a{
            display: inline-block;
        }
        img{
            max-width: 100%;
            max-height: 43px;
        }
    }
    .navbar{
        padding: 0px;
        #primary-menu{
            .search-form{
                .form-group{
                    width: 100%;
                    input[type="search"],
                    input[type="submit"]{
                        width: auto;
                        display: inline-block;
                        vertical-align: middle;
                        @include border-radius(0px, 0px);
                    }
                    input[type="submit"]{
                        color: $rd-theme-button-text;
                        background: $rd-theme-button-bg;
                        &:hover{
                            background: $rd-theme-button-bg-hover;
                        }
                    }
                }
            }
        }
    }
    .navbar-brand{
        display: inline-block;
        img{
            max-width: 100%;
            max-height: 43px;
        }
    }
    .top-bar{
        .sub-menu{
            height:100%;
        }
    }

    ul.primary-menu {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
        > li {
            position: relative;
        }
        > li > a {
            color: $rd-theme-head-menu-font;
            line-height: 100%;
            text-transform: uppercase;
            position: relative;
            padding: 20px 20px;
            display: block;
            font-family: $rd-theme-font-secondary;
            font-size: 0.75rem;
        }
        > li:hover > a,
        > li.current_page_item > a,
        > li.current_page_parent > a,
        > li.current-menu-ancestor > a,
        > li.current-cat > a,
        > ul > li.current-menu-item > a {
            text-decoration: none;
            color: $rd-theme-head-menu-font-hover;
            @include transition-property(all);
            @include transition-duration(0.2s);
            @include transition-timing-function(ease-in-out);
        }

        ul.dropdown-menu {
            min-width: 300px;
            margin: 0;
            padding: 0;
            margin-left: 1px;
            z-index: 1000;
            background: $rd-theme-head-submenu-bg;
            border: 0px;
            @include border-radius(0px, 0px);
            @include transition-property(all);
            @include transition-duration(0.2s);
            @include transition-timing-function(ease-in-out);

            li {
                list-style: none;
                min-width: 260px;
                position: relative;
            }
            li a {
                text-transform: uppercase;
                color: $rd-theme-head-menu-font;
                display: block;
                padding: 10px 20px;
                border-bottom: 0px;
                @include transition-property(all);
                @include transition-duration(0.2s);
                @include transition-timing-function(ease-in-out);
            }
            li:last-child a{

            }
            li a:hover,
            li.current-menu-item a {
                color: $rd-theme-head-submenu-font-hover;
                text-decoration: none;
                background: $rd-theme-head-submenu-bg-hoer;
            }
        }
    }

    .header-search{
        position: relative;
        .search-icon{
            color: $rd-theme-head-menu-font;
            line-height: 100%;
            display: inline-block;
            vertical-align: top;
            &:not(.collapsed),
            &:active{
                color: $rd-theme-head-menu-font-hover;
            }
        }
        .header-search-form{
            position: absolute;
            bottom: -55px;
            right: 0px;
            input[type="submit"]{
                display: none;
            }
            input[type="search"]{
                @include border-radius(0px, 0px);
            }
        }
    }
}

.main-logo {
    position: relative;

    img {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: -35px;
        z-index: 1000;
        box-shadow: 0 8px 6px -4px #cccccc;
        border-radius: 100%;
    }

}

.mainmenusection {
    background-color: #ffffff;
    padding: 10px 10px;

    ul.secondmenu {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        > li {
            position: relative;
        }
        > li > a {
            display: block;
            line-height: 100%;
            position: relative;
            padding: 20px 0;
            display: block;
            color: #3b3b3b;
            font-family: $rd-theme-font-secondary;
            font-size: 1.125rem;
        }
        > li:hover > a,
        > li.current_page_item > a,
        > li.current_page_parent > a,
        > li.current-menu-ancestor > a,
        > li.current-cat > a,
        > ul > li.current-menu-item > a {
            text-decoration: none;
            color: $rd-theme-head-menu-font;
            @include transition-property(all);
            @include transition-duration(0.2s);
            @include transition-timing-function(ease-in-out);
            background-color: $rd-theme-main-color;
        }

        ul.dropdown-menu {
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 1000;
            background: $rd-theme-main-color;
            border: 0px;
            @include border-radius(0px, 0px);
            @include transition-property(all);
            @include transition-duration(0.2s);
            @include transition-timing-function(ease-in-out);

            li {
                list-style: none;
                position: relative;
            }
            li a {
                font-family: $rd-theme-font-body;
                color: $rd-theme-head-menu-font;
                display: block;
                padding: 10px 20px;
                border-bottom: 0px;
                @include transition-property(all);
                @include transition-duration(0.2s);
                @include transition-timing-function(ease-in-out);
            }
            li:last-child a{

            }
            li a:hover,
            li.current-menu-item a {
                color: $rd-theme-head-submenu-font-hover;
                text-decoration: underline;
            }
        }


        .dropdown-toggle::after{
            display: none;
        }

        .dropdown-menu {
            min-width: auto;
        }
    }
}

#mobile-menu{
    padding-bottom: 20px;
    border-top: 1px solid #ffffff;

    #menu-mobile-menu{
		> li{
            margin: 0px 18px;
            border-bottom: 1px solid #ffffff;
            padding: 8px 0px;
    			> a{
                    font-size: 18px;
                    font-family: 'multicolore';
                    color: #ffffff;
                    text-decoration: none;
    			}

                &.active,
                &.show {
                    > a{
                        color:#66ccff;
                    }
                }
		}
	}


    .navbar-nav .dropdown-menu {
        background-color: #0000cc;
        border: none;
        margin-left: 20px;
            > li{
            padding: 5px 0px;
            > a{
                font-size: 18px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

.site-content{
    position:relative;
    overflow:hidden;

    .entry-title{
        font-family: $rd-theme-font-body !important;
    }
    h1{
        font-size: 2.625rem;

    }
    h2{
        font-size: 2.125rem;

    }
    h3{
        font-size: 1.5rem;

    }
    h4{
        font-size: 1.125rem;

    }
    h5{

    }
    h6{

    }
    p{
        font-size: 0.9375rem;
        margin-top: 1rem;
    }
    a{

        &:hover,
        &:visited,
        &:active{
            text-decoration: underline;
        }
        img{
            &.alignright{
                float: right;
                margin: 5px 0 20px 20px;
            }
            &.alignnone{
                margin: 0;
            }
            &.alignleft{
                float: left;
                margin: 5px 20px 20px 0;
            }
            &.aligncenter{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .widget-title{
        color: $rd-theme-widget-title-color;
        padding: 10px 15px;
        text-align: center;
        font-family: $rd-theme-font-secondary;
        background-color: $rd-theme-main-color;
        margin-bottom: 0px;
    }

    .widget-title-white {
        color: #000066;
        padding: 10px 15px;
        text-align: center;
        font-family: "multicolore";
        background-color: $rd-theme-widget-title-color;
        margin-bottom: 0px
    }

    .label-white {
        background-color: $rd-theme-widget-title-color;
        color: $rd-theme-main-color;
        padding: 5px 15px;
        font-size: 0.9375rem;
        text-transform: uppercase;
    }

    .label-blue {
        background-color: $rd-theme-main-color;
        color: $rd-theme-widget-title-color;
        padding: 5px 15px;
        font-size: 0.9375rem;
        text-transform: uppercase;
    }

    .alignnone{

    }
    .aligncenter,
    div.aligncenter{
        display: block;
        margin: 5px auto 5px auto;
    }
    .wp-caption{
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%; /* Image does not overflow the content area */
        padding: 5px 3px 10px;
        text-align: center;

        &.alignnone{
            margin: 5px 20px 20px 0;
        }
        &.alignleft{
            margin: 5px 20px 20px 0;
        }
        &.alignright{
            margin: 5px 0 20px 20px;
        }
        img{
            border: 0 none;
            height: auto;
            margin: 0;
            max-width: 98.5%;
            padding: 0;
            width: auto;
        }
        p.wp-caption-text{
            font-size: 11px;
            line-height: 17px;
            margin: 0;
            padding: 0 4px 5px;
        }
    }
    .screen-reader-text{
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        white-space: nowrap;
        height: 1px;
        width: 1px;
        overflow: hidden;

        &:focus{
            background-color: #f1f1f1;
            border-radius: 3px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            clip: auto !important;
            color: #21759b;
            display: block;
            font-size: 14px;
            font-size: 0.875rem;
            font-weight: bold;
            height: auto;
            left: 5px;
            line-height: normal;
            padding: 15px 23px 14px;
            text-decoration: none;
            top: 5px;
            width: auto;
            z-index: 100000; /* Above WP toolbar. */
        }
    }
    .gallery{
        margin: 0 auto 18px;

        .gallery-item {
            float: left;
            margin-top: 0;
            text-align: center;
            width: 33%;
        }
        img {
            box-shadow: 0px 0px 4px #999;
            border: 1px solid white;
            padding: 8px;
            background: #f2f2f2;

            &:hover {
                background: white;
            }
        }
        .gallery-caption{
            color: #888;
            font-size: 12px;
            margin: 0 0 12px;
        }
        dl, dt{
            margin: 0;
        }
        br+br{
            display: none;
        }
    }
    .gallery-columns-2{

        .gallery-item{
            width: 50%;
        }
        .attachment-medium {
            max-width: 92%;
            height: auto;
        }
    }
    .gallery-columns-4{

        .gallery-item{
            width: 25%;
        }
        .attachment-thumbnail {
            max-width: 84%;
            height: auto;
        }
    }

    .grevelabel {
        padding: 5px 10px;
        background-color: $rd-theme-main-color;
        display: inline-block;
        color: $rd-theme-widget-title-color;
    }

    .text-width-line .line-space{
    	right: unset !important;
        margin: 10px auto;
    }

    .blog-feature{
        position: relative;
        min-height: 400px;
        border: 0px;
        @include border-radius(0px, 0px);

        .card-img-top{
            @include border-radius(0px, 0px);
        }
        .card-body{
            position: relative;
            padding: 15px 10px;
            .cat-name{
                line-height: 100%;
                text-transform: uppercase;
                padding: 5px 15px;
                position: absolute;
                top: -20px;
                left: 0;
            }
        }
        .card-footer{
            border: 0px;
            background: none;
            font-size: 0.75rem;
            .author{
                text-transform: uppercase;
                &:before{
                    font-family: 'FontAwesome';
                    content: '\f0c9';
                    margin-right: 10px;
                    color: $rd-theme-main-color;
                }
            }
            .date{
                text-transform: uppercase;
            }
        }
    }
    .blog-feature-style1{
        .cat-name{
            color: $rd-theme-widget-title-color;
            background: $rd-theme-main-color;
        }
    }
    .blog-feature-style2{
        .link-more{
            position: absolute;
            right: 0;
            top: 0;
            font-weight: bold;
            padding: 5px 45px 5px 15px;
            line-height: 100%;
            color: $rd-theme-main-color;
            background: $rd-theme-widget-title-color;
            &:after{
                width: 30px;
                height: 26px;
                line-height: 26px;
                position: absolute;
                right: 0px;
                top: 0px;
                text-align: center;
                font-family: 'FontAwesome';
                content: '\f0da';
                color: $rd-theme-widget-title-color;
                background: $rd-theme-main-color;
            }
        }
        .cat-name{
            color: $rd-theme-widget-title-color;
            background: $rd-theme-main-color;
        }
    }
    .blog-feature-style3{
        .post-type{
            text-transform: uppercase;
            top: 0;
            right: 0;
            padding: 5px 15px;
            position: absolute;
            line-height: 100%;
            color: $rd-theme-widget-title-color;
            background: $rd-theme-blogfeature-style3-bgcolor;
        }
        .cat-name{
            color: $rd-theme-widget-title-color;
            background: $rd-theme-blogfeature-style3-bgcolor;
        }
        .card-footer{
            .author{
                &:before{
                    color: $rd-theme-blogfeature-style3-bgcolor;
                }
            }
        }
    }

        .all-news{
            padding-bottom: 30px;

            .card-body{
                background: #e7e7e7;
            }
            .card-footer{
                background-color: #e7e7e7;
                border-top: 1px dotted #ffffff;
            }
        }

    .filter-btn {
    background-color: $rd-theme-main-color;
    text-transform: uppercase;
    color: $rd-theme-widget-title-color;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'multicolore';
    cursor: pointer;
    }
}

.site-footer{
    color: $rd-theme-footer-text;
    font-family: $rd-theme-font-body;
    position:relative;
    background: $rd-theme-footer-bg;
    .widget-title{
        font-size: 1.125rem;
        color: $rd-theme-footer-text;
        background: none;
        text-align: left;
        padding: 10px 0px;
    }
    .widget{
        > div{
            padding-bottom: 20px;
        }
    }
    ul.menu{
        margin: 0;
        padding: 0;
        > li{
            list-style: none;
            color: $rd-theme-footer-text;
            a{
                color: $rd-theme-footer-text;
                &:hover{
                    text-decoration: none;
                    color: $rd-theme-main-color;
                }
            }
        }
        > ul{
            display: none;
        }
    }
    i{
        font-size: 1.3333333333333333rem;
    }
    h1{

    }
    h2{

    }
    h3{

    }
    h4{

    }
    h5{

    }
    h6{

    }
    p{

    }
    a{
        color: $rd-theme-footer-text;
        &:hover,
        &:visited,
        &:active{
            text-decoration: none;
            color: $rd-theme-main-color;
        }
    }
    .site-footer-info{
        padding-top: 40px;
        padding-bottom: 40px;
        background: $rd-theme-body-bg;
    }
    .site-footer-copyright{
        padding-top: 10px;
        padding-bottom: 10px;
        background: $rd-theme-footer-bg-copyright;
        p{
            margin-bottom: 0px;
        }
    }
}

.cookie-notice-container{
    padding: 30px 0px;
    position: relative;
    #cn-accept-cookie{
        width: 18px;
        height: 18px;
        font-size: 0 !important;
        padding: 0px !important;
        top: 10px;
        right: 10px;
        position: absolute;
        border: 0px !important;
        box-shadow: 0px 0px 0px !important;
        background-color: rgba(0,0,0,0) !important;
        background-image: url('../images/close-icon.png') !important;
        background-repeat: no-repeat;
        background-position: center center !important;
        &:hover{
            background-position: center center !important;
        }
    }
}

.totop{
    color: $rd-theme-footer-text;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 150px;
    right: 30px;
    cursor: pointer;
    display: none;
    .icon-totop{
        width: 44px;
        height: 44px;
        display: block;
        background-image: url('../images/icon-gototop.png');
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
}

.nf-form-fields-required {
    display: none;
}

footer {
    .newsletter-box {
        background-color: $rd-theme-main-color;
        padding: 15px;
        margin: 60px 0;
        .newsletter-icon {
            display: block;
            width: 70px;
            height: 70px;
            margin-right: 20px;
            margin-top: 15px;
            margin-left: 20px;
            float: left;
            background: {
                image: url('../img/computer-icon.png');
                position: center;
                size: cover;
            }
        }
        .newsletter-desc {
            color: white;
            font: {
                size: 24px;
                family: 'Geomanistregular';
                weight: 400;
            }
            display: block;
            float: left;
            margin-top: 12px;
            float: left;
        }
    }


    .wrap-links {
        background-color: $rd-theme-color-lightgray;
        padding: 40px 0;
        .links {
            .menu-footer-menu-container {
                .footer-links {
                    list-style-type: none;
                    padding: 0;
                    margin-bottom: 0;
                    > li {
                        width: calc(100% / 6);
                        float: left;
                        padding-right: 20px;
                        > a {
                            color: $rd-theme-color-darkgray;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-family: 'multicolore';
                            font-weight: normal;
                            &:hover, &:focus {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .sub-menu {
                    padding: 0;
                    list-style-type: none;
                    > li {
                        > a {
                            color: $rd-theme-color-darkgray;
                            line-height: 35px;
                            font: {
                                family: 'Geomanistregular';
                                size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .addr {
        padding: 30px 0;
        color: $rd-theme-footer-text;
        .sub-links {
            text-align: center;
            padding-left: 0px;
            li {
                display: inline-block;
                position: relative;
                padding: 0 15px;
                font:{
                    size: 18px;
                }
                color: $rd-theme-footer-text;

                &:after {
                    color: $rd-theme-color-gray;
                    content: ".";
                    position: absolute;
                    right: -5px;
                    top: -30px;
                    font-size: 40px;
                }
                > a {
                    color: $rd-theme-footer-text;
                    &:hover{
                        text-decoration: none;
                        color: $rd-theme-main-color;
                    }
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .copyright {
            margin-top: 40px;
            text-align: center;
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .our-social-media {
        text-align: center;
        margin-bottom: 60px;
        strong {
            color: $rd-theme-color-gray;
            font: {
                size: 18px;
                family: 'multicolore';
            }
        }
        .social-icons {
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0;
            li {
                width: 45px;
                height: 45px;
                display: inline-block;
                margin: 0 5px;
                background-color: $rd-theme-color-gray;
                @include border-radius(50%);

                &:hover, &:focus {
                    opacity: 0.8;
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: white;
                    position: relative;
                    top: 6px;

                    .fab.fa-facebook-f:before {
                        content: "\f39e";
                    }
                }
            }
        }
    }
}


.mc4wp-form-fields {
    width: auto;
    background-color: white;
    padding: 15px;
    &:after, &:before {
        content: '';
        display: table;
        width: 100%;
    }
    .left-box {
        width: 70%;
        float: left;
        padding-right: 15px;
        input {
            width: 100%;
            border: 0;
            outline: 0;
            border-bottom: 1px solid #3b3b3b;
            margin-top: 10px;

            @include input-placeholder
            {
                color: $rd-theme-main-color;
                font-size: 15px;
                font-family: 'Geomanistregular';
            }
        }

    }
    .right-box {
        float: right;
        width: 30%;
        margin-top: 28px;
        input {
            background-color: $rd-theme-main-color;
            @include border-radius(5px);
            text-transform: uppercase;
            color: white;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: 'Geomanistregular';
            border: 0;
            padding: 15px;
            line-height: 15px;
            width: 100%;
            text-align: center;
            cursor: pointer;
        }

    }
    input[type="email"] {
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #3b3b3b;

        @include input-placeholder
        {
            color: $rd-theme-main-color;
            font-size: 15px;
            font-family: 'Geomanistregular';
        }
    }

}

.rd-accordion {
    .sow-accordion {
        .sow-accordion-panel {
            border-bottom: 1px solid $rd-theme-color-darkgray;
            margin-bottom: 1px;
            padding: 10px 0;

            &:first-of-type {
                border-top: 1px solid $rd-theme-color-darkgray;
            }

            &:nth-child(even) {
                .sow-accordion-panel-header {
                    @include background-image(linear-gradient(left, white, white 80px, #3399ff 80px, #3399ff));
                }
            }

            .sow-accordion-panel-header {
                @include background-image(linear-gradient(left, white, white 80px, $rd-theme-main-color 80px, $rd-theme-main-color));
                .sow-accordion-title {
                    letter-spacing: 1px;
                    padding-left: 55px;
                    font: {
                        family: 'Geomanistregular';
                        size: 24px;
                        weight: 400;
                    }
                }
                .sow-accordion-open-close-button {
                    float: left;
                    .sow-icon-ionicons {
                        display: none;
                    }
                    .sow-accordion-open-button {
                        &:after {
                            content: "\f061";
                            position: relative;
                            color: $rd-theme-main-color;
                            font: {
                                family: 'FontAwesome';
                                size: 20px;
                            }
                        }
                    }
                    .sow-accordion-close-button {
                        &:after {
                            content: "\f063";
                            position: relative;
                            color: $rd-theme-main-color;
                            font: {
                                family: 'FontAwesome';
                                size: 20px;
                            }
                        }
                    }
                }
            }
            .sow-accordion-panel-content {
                .sow-accordion-panel-border {
                    padding-left: 80px;
                    strong {
                        color: $rd-theme-main-color;
                        font: {
                            family: 'Geomanistregular';
                            weight: 400;
                            size: 24px;
                        }
                    }
                    p {
                        font: {
                            family: 'Geomanistregular';
                            weight: 300;
                            size: 18px;
                        }
                    }
                }
            }
        }
    }
}

/*Event*/

.tribe-mini-calendar-event {
    width: auto !important;
    border-bottom: 1px solid #2c2c2c !important;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;

    &:first-of-type{
        margin-top: 0px !important;
    }

    .list-info{
        margin: 10px 0 0 !important;
    }
    .tribe-events-duration {
        display: none;
    }

    .list-info {
        h2 {
        font-size: 18px !important;
        font-weight: normal !important;
        line-height: 1.4em !important;

            a {
                color: #0000cc;
                font-weight: 700;
            }
        }
    }
}

#tribe-events-content {
    margin-top: 60px;
}


.tribe-events-widget-link, .tribe-events-user-recurrence-toggle {
    display: none;
}

.tribe-events-list-event-title {
    a {
        color: #3b3b3b;
    }
}

a.tribe_paged {
        color: #3b3b3b;
        font-weight: 700;
        font-size: 14px;
}

.tribe-events-photo-event-wrap{

    .tribe-events-event-details {
        padding: 15px 15px 0px 15px !important;
        position: relative;
    }

    .catenameevent {
    line-height: 100%;
    text-transform: uppercase;
    padding: 5px 15px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #0000cc;
    color: #fff;
    }

    .tribe-events-event-details {
    background: #e7e7e7;
    }

}

.tribe-events-event-meta{
        background-color: #e7e7e7 !important;
        margin: 0 !important;
        padding: 8px 10px !important;
        border-top: 1px dotted #fff !important;
        font-weight: 400 !important;
        font-size: 0.75rem !important;
}

h2.tribe-events-page-title{
    margin-bottom: 15px;
    color: #0000cc;
    font-weight: 700;
    text-align: center;
    font-size: 2.625rem;
    }

@import "style-responsive.scss";
