@import "../../../base/less/mixins";

@border_color: default;
@position_font_color: default;

.quotes{
	position:relative;
	margin-bottom:30px;
	.quotes-description{
		padding:35px 30px 35px;
		border-top:2px solid;
		border-left:2px solid;
		border-right:2px solid;
		border-color:@border_color;
		p{
			font-size:17px;
			font-style:italic;
		}
	}
	.quotes-name-position{
		font-size:16px;
		color: @position_font_color;
		text-align:center;
		width:100%;
		position:absolute;
		margin-top:-15px;
		&:before,
		&:after{
			content:'';
			position:absolute;
			width:30%;
			height:2px;
			bottom:32px;
			background:@border_color;
		}
		&:before{
			left:0;
		}
		&:after{
			right:0;
		}
	}
}