@media screen and (min-width: 992px) {
  /* line 5, ../scss/style-responsive.scss */
  ul.primary-menu .dropdown-toggle::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 15, ../scss/style-responsive.scss */
  .site-header ul.primary-menu > li > a {
    padding: 10px 0px;
  }

  /* line 21, ../scss/style-responsive.scss */
  .navbar-light .navbar-toggler {
    border: 0px;
    color: #ca262c;
  }

  /* line 25, ../scss/style-responsive.scss */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203,38,44, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  /* line 31, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle:before {
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  /* line 36, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle.collapsed:before {
    content: '\f105';
  }
  /* line 41, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle:not(.collapsed):before {
    content: '\f107';
  }
}

/*# sourceMappingURL=style-responsive.css.map */
