/* line 4, ../scss/styles.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 12, ../scss/styles.scss */
a,
button {
  outline: 0 !important;
}
/* line 16, ../scss/styles.scss */
a:hover, a:visited, a:active,
button:hover,
button:visited,
button:active {
  outline: 0 !important;
}

/* line 23, ../scss/styles.scss */
.site-header {
  position: relative;
  z-index: 999;
  background: #fefefe;
}
/* line 29, ../scss/styles.scss */
.site-header .header-logo a {
  display: inline-block;
}
/* line 32, ../scss/styles.scss */
.site-header .header-logo img {
  max-width: 100%;
  max-height: 43px;
}
/* line 37, ../scss/styles.scss */
.site-header .navbar {
  padding: 0px;
}
/* line 41, ../scss/styles.scss */
.site-header .navbar #primary-menu .search-form .form-group {
  width: 100%;
}
/* line 43, ../scss/styles.scss */
.site-header .navbar #primary-menu .search-form .form-group input[type="search"],
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"] {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}
/* line 50, ../scss/styles.scss */
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"] {
  color: #ffffff;
  background: #ca262c;
}
/* line 53, ../scss/styles.scss */
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"]:hover {
  background: #971217;
}
/* line 61, ../scss/styles.scss */
.site-header .navbar-brand {
  display: inline-block;
}
/* line 63, ../scss/styles.scss */
.site-header .navbar-brand img {
  max-width: 100%;
  max-height: 43px;
}
/* line 69, ../scss/styles.scss */
.site-header .top-bar .sub-menu {
  height: 100%;
}
/* line 74, ../scss/styles.scss */
.site-header ul.primary-menu {
  margin: 0;
  padding: 0;
}
/* line 78, ../scss/styles.scss */
.site-header ul.primary-menu li {
  list-style: none;
}
/* line 81, ../scss/styles.scss */
.site-header ul.primary-menu > li {
  position: relative;
}
/* line 84, ../scss/styles.scss */
.site-header ul.primary-menu > li > a {
  color: #2b2b2b;
  line-height: 100%;
  text-transform: uppercase;
  position: relative;
  padding: 20px 20px;
  display: block;
}
/* line 92, ../scss/styles.scss */
.site-header ul.primary-menu > li:hover > a,
.site-header ul.primary-menu > li.current_page_item > a,
.site-header ul.primary-menu > li.current_page_parent > a,
.site-header ul.primary-menu > li.current-menu-ancestor > a,
.site-header ul.primary-menu > li.current-cat > a,
.site-header ul.primary-menu > ul > li.current-menu-item > a {
  text-decoration: none;
  color: #ca262c;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 105, ../scss/styles.scss */
.site-header ul.primary-menu ul.dropdown-menu {
  min-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 1px;
  z-index: 1000;
  background: #f3f3f4;
  border: 0px;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 118, ../scss/styles.scss */
.site-header ul.primary-menu ul.dropdown-menu li {
  list-style: none;
  min-width: 260px;
  position: relative;
}
/* line 123, ../scss/styles.scss */
.site-header ul.primary-menu ul.dropdown-menu li a {
  text-transform: uppercase;
  color: #2b2b2b;
  display: block;
  padding: 10px 20px;
  border-bottom: 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 136, ../scss/styles.scss */
.site-header ul.primary-menu ul.dropdown-menu li a:hover,
.site-header ul.primary-menu ul.dropdown-menu li.current-menu-item a {
  color: #ffffff;
  text-decoration: none;
  background: #cc3136;
}
/* line 145, ../scss/styles.scss */
.site-header .header-search {
  position: relative;
}
/* line 147, ../scss/styles.scss */
.site-header .header-search .search-icon {
  line-height: 100%;
  display: inline-block;
  vertical-align: top;
}
/* line 152, ../scss/styles.scss */
.site-header .header-search .header-search-form {
  position: absolute;
  bottom: -55px;
  right: 0px;
}
/* line 156, ../scss/styles.scss */
.site-header .header-search .header-search-form input[type="submit"] {
  display: none;
}
/* line 159, ../scss/styles.scss */
.site-header .header-search .header-search-form input[type="search"] {
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}

/* line 166, ../scss/styles.scss */
.site-content {
  position: relative;
  overflow: hidden;
}
/* line 196, ../scss/styles.scss */
.site-content a:hover, .site-content a:visited, .site-content a:active {
  text-decoration: underline;
}
/* line 202, ../scss/styles.scss */
.site-content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
/* line 206, ../scss/styles.scss */
.site-content a img.alignnone {
  margin: 5px 20px 20px 0;
}
/* line 209, ../scss/styles.scss */
.site-content a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
/* line 213, ../scss/styles.scss */
.site-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 224, ../scss/styles.scss */
.site-content .aligncenter,
.site-content div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
/* line 229, ../scss/styles.scss */
.site-content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
/* line 236, ../scss/styles.scss */
.site-content .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
/* line 239, ../scss/styles.scss */
.site-content .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
/* line 242, ../scss/styles.scss */
.site-content .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
/* line 245, ../scss/styles.scss */
.site-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
/* line 253, ../scss/styles.scss */
.site-content .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* line 260, ../scss/styles.scss */
.site-content .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/* line 268, ../scss/styles.scss */
.site-content .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* line 288, ../scss/styles.scss */
.site-content .gallery {
  margin: 0 auto 18px;
}
/* line 291, ../scss/styles.scss */
.site-content .gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
/* line 297, ../scss/styles.scss */
.site-content .gallery img {
  box-shadow: 0px 0px 4px #999;
  border: 1px solid white;
  padding: 8px;
  background: #f2f2f2;
}
/* line 303, ../scss/styles.scss */
.site-content .gallery img:hover {
  background: white;
}
/* line 307, ../scss/styles.scss */
.site-content .gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px;
}
/* line 312, ../scss/styles.scss */
.site-content .gallery dl, .site-content .gallery dt {
  margin: 0;
}
/* line 315, ../scss/styles.scss */
.site-content .gallery br + br {
  display: none;
}
/* line 321, ../scss/styles.scss */
.site-content .gallery-columns-2 .gallery-item {
  width: 50%;
}
/* line 324, ../scss/styles.scss */
.site-content .gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
/* line 331, ../scss/styles.scss */
.site-content .gallery-columns-4 .gallery-item {
  width: 25%;
}
/* line 334, ../scss/styles.scss */
.site-content .gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}

/* line 342, ../scss/styles.scss */
.site-footer {
  color: #ffffff;
  padding: 40px 0px 80px;
  position: relative;
  background: #132c42;
  border-top: 5px solid #ca262c;
}
/* line 348, ../scss/styles.scss */
.site-footer .widget-title {
  font-size: 1.3333333333333333rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}
/* line 355, ../scss/styles.scss */
.site-footer .widget > div {
  padding-bottom: 30px;
}
/* line 359, ../scss/styles.scss */
.site-footer ul.menu {
  margin: 0;
  padding: 0;
}
/* line 362, ../scss/styles.scss */
.site-footer ul.menu > li {
  list-style: none;
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 366, ../scss/styles.scss */
.site-footer ul.menu > li a {
  color: #ffffff;
}
/* line 368, ../scss/styles.scss */
.site-footer ul.menu > li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
/* line 374, ../scss/styles.scss */
.site-footer ul.menu > ul {
  display: none;
}
/* line 378, ../scss/styles.scss */
.site-footer i {
  font-size: 1.3333333333333333rem;
  margin-right: 15px;
}
/* line 403, ../scss/styles.scss */
.site-footer a {
  color: #ffffff;
}
/* line 405, ../scss/styles.scss */
.site-footer a:hover, .site-footer a:visited, .site-footer a:active {
  font-weight: bold;
  text-decoration: underline;
}

/* line 414, ../scss/styles.scss */
.cookie-notice-container {
  padding: 30px 0px;
  position: relative;
}
/* line 417, ../scss/styles.scss */
.cookie-notice-container #cn-accept-cookie {
  width: 18px;
  height: 18px;
  font-size: 0 !important;
  padding: 0px !important;
  top: 10px;
  right: 10px;
  position: absolute;
  border: 0px !important;
  box-shadow: 0px 0px 0px !important;
  background-color: transparent !important;
  background-image: url("../images/close-icon.png") !important;
  background-repeat: no-repeat;
  background-position: center center !important;
}
/* line 431, ../scss/styles.scss */
.cookie-notice-container #cn-accept-cookie:hover {
  background-position: center center !important;
}

/* line 437, ../scss/styles.scss */
.totop {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 150px;
  right: 30px;
  cursor: pointer;
  display: none;
}
/* line 446, ../scss/styles.scss */
.totop .icon-totop {
  width: 44px;
  height: 44px;
  display: block;
  background-image: url("../images/icon-gototop.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  /* line 5, ../scss/style-responsive.scss */
  ul.primary-menu .dropdown-toggle::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 15, ../scss/style-responsive.scss */
  .site-header ul.primary-menu > li > a {
    padding: 10px 0px;
  }

  /* line 21, ../scss/style-responsive.scss */
  .navbar-light .navbar-toggler {
    border: 0px;
    color: #ca262c;
  }

  /* line 25, ../scss/style-responsive.scss */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203,38,44, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  /* line 31, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle:before {
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  /* line 36, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle.collapsed:before {
    content: '\f105';
  }
  /* line 41, ../scss/style-responsive.scss */
  .site-footer .widget-title.toggle:not(.collapsed):before {
    content: '\f107';
  }
}

/*# sourceMappingURL=styles.css.map */
