.site-header ul.primary_menu > li > a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-header ul.primary_menu > li > a,{opacity: 0;}.ie.wf-loading .site-header ul.primary_menu > li > a,{visibility: hidden;}
								.site-header ul.primary_menu > li:hover > a,
								.site-header ul.primary_menu > li.current_page_item > a,
								.site-header ul.primary_menu > li.current_page_parent > a,
								.site-header ul.primary_menu > li.current-menu-ancestor > a,
								.site-header ul.primary_menu > li.current-cat > a,
								.site-header ul.primary_menu > ul > li.current-menu-item > a
							{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading 
								.site-header ul.primary_menu > li:hover > a,
								.site-header ul.primary_menu > li.current_page_item > a,
								.site-header ul.primary_menu > li.current_page_parent > a,
								.site-header ul.primary_menu > li.current-menu-ancestor > a,
								.site-header ul.primary_menu > li.current-cat > a,
								.site-header ul.primary_menu > ul > li.current-menu-item > a
							,{opacity: 0;}.ie.wf-loading 
								.site-header ul.primary_menu > li:hover > a,
								.site-header ul.primary_menu > li.current_page_item > a,
								.site-header ul.primary_menu > li.current_page_parent > a,
								.site-header ul.primary_menu > li.current-menu-ancestor > a,
								.site-header ul.primary_menu > li.current-cat > a,
								.site-header ul.primary_menu > ul > li.current-menu-item > a
							,{visibility: hidden;}.site-header ul.primary_menu ul.sub-menu li a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-header ul.primary_menu ul.sub-menu li a,{opacity: 0;}.ie.wf-loading .site-header ul.primary_menu ul.sub-menu li a,{visibility: hidden;}
								.site-header ul.primary_menu ul.sub-menu li a:hover,
								.site-header ul.primary_menu ul.sub-menu li.current-menu-item a
							{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading 
								.site-header ul.primary_menu ul.sub-menu li a:hover,
								.site-header ul.primary_menu ul.sub-menu li.current-menu-item a
							,{opacity: 0;}.ie.wf-loading 
								.site-header ul.primary_menu ul.sub-menu li a:hover,
								.site-header ul.primary_menu ul.sub-menu li.current-menu-item a
							,{visibility: hidden;}.site-footer{background-color:#ce63cc;}.site-footer h1{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h1,{opacity: 0;}.ie.wf-loading .site-footer h1,{visibility: hidden;}.site-footer h2{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h2,{opacity: 0;}.ie.wf-loading .site-footer h2,{visibility: hidden;}.site-footer h3{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h3,{opacity: 0;}.ie.wf-loading .site-footer h3,{visibility: hidden;}.site-footer h4{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h4,{opacity: 0;}.ie.wf-loading .site-footer h4,{visibility: hidden;}.site-footer h5{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h5,{opacity: 0;}.ie.wf-loading .site-footer h5,{visibility: hidden;}.site-footer h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer h6,{opacity: 0;}.ie.wf-loading .site-footer h6,{visibility: hidden;}.site-footer p{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer p,{opacity: 0;}.ie.wf-loading .site-footer p,{visibility: hidden;}.site-footer a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer a,{opacity: 0;}.ie.wf-loading .site-footer a,{visibility: hidden;}.site-footer a:hover{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .site-footer a:hover,{opacity: 0;}.ie.wf-loading .site-footer a:hover,{visibility: hidden;}