@import "../../../base/less/mixins";

@modal_button_text_color: default;
@modal_button_bg_color: default;
@modal_button_border_size: default;
@modal_button_style_border_color: default;

@modal_button_hoverstyle_text_color: default;
@modal_button_hoverstyle_color: default;
@modal_button_hoverstyle_border_color: default;

.extend-modal-dialog{
	.modal-button{
		text-align:center;
		button{
			font-size:20px;
			color:@modal_button_text_color;
			text-transform:uppercase;
			text-decoration:none;
			padding:15px 60px;
			background-color:@modal_button_bg_color;
			border:@modal_button_border_size solid @modal_button_style_border_color;
			display:inline-block;
			cursor:pointer;
			outline:none;
			-moz-transition-property: all;
			-o-transition-property: all;
			-webkit-transition-property: all;
			transition-property: all;
			-moz-transition-duration: 0.2s;
			-o-transition-duration: 0.2s;
			-webkit-transition-duration: 0.2s;
			transition-duration: 0.2s;
			&:hover{
				color:@modal_button_hoverstyle_text_color;
				background-color:@modal_button_hoverstyle_color;
				border:@modal_button_border_size solid @modal_button_hoverstyle_border_color;
			}
		}
	}
	.modal-title{
		display:inline-block;
	}
}

@media only screen and (max-width:480px) {
	.modal-button{
		button{
			padding:15px 20px;
		}
	}
}

