@import "../../../base/less/mixins";

ul.case-carouFredSel{
	margin:0 !important;
	padding:0 !important;
	
	li{
		float:left;
		list-style:none;
		padding:0 !important;
		margin:0;
		text-indent:0px !important;
		&:before{
			display:none !important;
		}
	}
}

.case{
	height:266px;
	padding:0px;
	position:relative;
	overflow:hidden;
	
	.case-image-box{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		overflow:hidden;
	}
	.case-image{
		width:100%;
		height:100%;
		position:absolute;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	&:hover{
		.case-image{
			opacity:0.8;
			-ms-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
		}
	}
	a{
		width:100%;
		height:100%;
		left:0;
		top:0;
		position:absolute;
		color:#313131;
		display:block;
		z-index:1;
		text-align: center;

		>	span {
			color: #ffffff;
			font-size: 20px;
			background-color: #ee8617;
			padding: 8px 40px;
			border: 1px solid #ee8617;
			display: inline-block;
			margin-top: 23%;
			text-transform: uppercase;
			opacity: 0;
			}
		&:hover {

			span{ 
				opacity: 1;
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				-o-transition: all .5s;
				transition: all .5s;
				}
			}
	}
	.case-detail{
		width:101%;
		height:60px;
		position:absolute;
		bottom:0px;
		display:table;
		background:rgba(255,255,255,0.8);
		
		> div{
			width:50%;
			max-width:50%;
			display:table-cell;
			vertical-align:middle;
		}
		.logo{
			padding-left:30px;
		}
		.title{
			font-size:20px;
			color:#313131;
			text-align:right;
			padding-right:30px;
		}
	}
}

.cases-pager{
	width:100%;
	text-align:center;
	a{
		font-size:0px;
		width:20px;
		height:20px;
		display:inline-block;
		margin:0px 5px;
		border-radius:50px;
		background:#ffffff;
		border:1px solid #ee8617;
		-moz-transition-property: all;
		-o-transition-property: all;
		-webkit-transition-property: all;
		transition-property: all;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		&:hover,
		&.selected{
			background:#ee8617;
		}
		span{
			font-size:0px;
		}
	}
}

.case-mobile{
	position:relative;
}
.cases-mobile-prev,
.cases-mobile-next{
	font-size:30px;
	text-align:center;
	line-height:100%;
	padding:5px 7px;
	color:#ee8617;
	position:absolute;
	top:45%;
	background-color:rgba(255,255,255,0.5);
}
.cases-mobile-prev{
	left:0;
}
.cases-mobile-next{
	right:0;
}

