.so-widget-custom-modal-theme-widget-modal-style-19ddbf20a1a1 .extend-modal-dialog .modal-button {
  text-align: center;
}
.so-widget-custom-modal-theme-widget-modal-style-19ddbf20a1a1 .extend-modal-dialog .modal-button button {
  font-size: 20px;
  
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 60px;
  background-color: #ffffff;
  border: 0px solid default;
  display: inline-block;
  cursor: pointer;
  outline: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.so-widget-custom-modal-theme-widget-modal-style-19ddbf20a1a1 .extend-modal-dialog .modal-button button:hover {
  
  
  border: 0px solid default;
}
.so-widget-custom-modal-theme-widget-modal-style-19ddbf20a1a1 .extend-modal-dialog .modal-title {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  .so-widget-custom-modal-theme-widget-modal-style-19ddbf20a1a1 .modal-button button {
    padding: 15px 20px;
  }
}