.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container h1.sow-headline {
  text-align: left;
  color: #0000cc;
  line-height: 1.4em;
  
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container h1.sow-headline a {
  color: #0000cc;
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #cccccc;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-a84e1ade530b .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}