.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  font-size: 1em;
  padding: 1em 2em;
  background: #0000cc;
  color: #ffffff !important;
  border: 1px solid #0000cc;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base a:visited,
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base a:active,
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-4b888d5bdf6e .ow-button-base a.ow-button-hover:hover {
  background: #0000e0;
  border-bottom-color: #0000c7;
  color: #ffffff;
}