.so-widget-sow-social-media-buttons-flat-a384dbe4283f .social-media-button-container {
  zoom: 1;
  text-align: right;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780) {
  .so-widget-sow-social-media-buttons-flat-a384dbe4283f .social-media-button-container {
    text-align: center;
  }
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram {
  color: #ffffff !important;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram:visited,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram:active,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-instagram.ow-button-hover:hover {
  background: #d6d6d6;
  border-bottom-color: #d6d6d6;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook {
  color: #ffffff !important;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #d6d6d6;
  border-bottom-color: #d6d6d6;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube {
  color: #ffffff !important;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube:visited,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube:active,
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button-youtube.ow-button-hover:hover {
  background: #d6d6d6;
  border-bottom-color: #d6d6d6;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button {
  font-size: 1.33em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0 0.1em 0.1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-flat-a384dbe4283f .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}