.so-widget-text-with-line-theme-widget-text-width-line-6d734e5defe8 .text-width-line {
  position: relative;
}
.so-widget-text-with-line-theme-widget-text-width-line-6d734e5defe8 .text-width-line .line-space {
  width: px;
  height: px;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  
}