.so-widget-text-with-line-theme-widget-text-width-line-d114154fa2be .text-width-line {
  position: relative;
}
.so-widget-text-with-line-theme-widget-text-width-line-d114154fa2be .text-width-line .line-space {
  width: 80px;
  height: 1px;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #0000cc;
}