@import "../../../base/less/mixins";

@text_line_width: default;
@text_line_height: default;
@text_line_color: default;

.text-width-line{
	position:relative;
	.line-space{
		width:@text_line_width;
		height:@text_line_height;
		max-width:100%;
		position:absolute;
		left:0;
		right:0;
		margin:0 auto;
		background:@text_line_color;
	}
}
