@import "styles_variables.scss";

@media screen and (min-width: 992px){
    ul.primary-menu{
        .dropdown-toggle::after{
            display: none;
        }
    }
}

@media screen and (max-width: 991px){
    .site-header{
        ul.primary-menu{
            > li{
                > a{
                    padding: 10px 0px;
                }
            }
        }
    }
    .navbar-light .navbar-toggler{
        border: 0px;
        color: $rd-theme-head-menu-font-hover;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203,38,44, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
    .site-footer{
        .widget-title{
            &.toggle{
                &:before{
                    font-family: 'FontAwesome';
                    margin-right: 10px;
                }
                &.collapsed{
                    &:before{
                        content: '\f105';
                    }
                }
                &:not(.collapsed){
                    &:before{
                        content: '\f107';
                    }
                }
            }
        }
    }
}
