@import "compass";
@import "styles_variables.scss";

html,body{
	margin:0;
	padding:0;
}
body{

}

a,
button{
	outline: 0 !important;

	&:hover,
	&:visited,
	&:active{
		outline: 0 !important;
	}
}

.site-header{
	position:relative;
	z-index:999;
	background: $rd-theme-header-bg;

	.header-logo{
		a{
			display: inline-block;
		}
		img{
			max-width: 100%;
			max-height: 43px;
		}
	}
	.navbar{
		padding: 0px;
		#primary-menu{
			.search-form{
				.form-group{
					width: 100%;
					input[type="search"],
					input[type="submit"]{
						width: auto;
						display: inline-block;
						vertical-align: middle;
						@include border-radius(0px, 0px);
					}
					input[type="submit"]{
						color: $rd-theme-button-text;
						background: $rd-theme-button-bg;
						&:hover{
							background: $rd-theme-button-bg-hover;
						}
					}
				}
			}
		}
	}
	.navbar-brand{
		display: inline-block;
		img{
			max-width: 100%;
			max-height: 43px;
		}
	}
	.top-bar{
		.sub-menu{
			height:100%;
		}
	}

	ul.primary-menu {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
		}
		> li {
			position: relative;
		}
		> li > a {
			color: $rd-theme-head-menu-font;
			line-height: 100%;
			text-transform: uppercase;
			position: relative;
			padding: 20px 20px;
			display: block;
		}
		> li:hover > a,
		> li.current_page_item > a,
		> li.current_page_parent > a,
		> li.current-menu-ancestor > a,
		> li.current-cat > a,
		> ul > li.current-menu-item > a {
			text-decoration: none;
			color: $rd-theme-head-menu-font-hover;
			@include transition-property(all);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in-out);
		}

		ul.dropdown-menu {
			min-width: 300px;
			margin: 0;
			padding: 0;
			margin-left: 1px;
			z-index: 1000;
			background: $rd-theme-head-submenu-bg;
			border: 0px;
			@include border-radius(0px, 0px);
			@include transition-property(all);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in-out);

			li {
				list-style: none;
				min-width: 260px;
				position: relative;
			}
			li a {
				text-transform: uppercase;
				color: $rd-theme-head-menu-font;
				display: block;
				padding: 10px 20px;
				border-bottom: 0px;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);
			}
			li:last-child a{

			}
			li a:hover,
			li.current-menu-item a {
				color: $rd-theme-head-submenu-font-hover;
				text-decoration: none;
				background: $rd-theme-head-submenu-bg-hoer;
			}
		}
	}

	.header-search{
		position: relative;
		.search-icon{
			line-height: 100%;
    		display: inline-block;
    		vertical-align: top;
		}
		.header-search-form{
			position: absolute;
			bottom: -55px;
			right: 0px;
			input[type="submit"]{
				display: none;
			}
			input[type="search"]{
				@include border-radius(0px, 0px);
			}
		}
	}
}

.site-content{
	position:relative;
	overflow:hidden;

	.entry-title{

	}
	h1{

	}
	h2{

	}
	h3{

	}
	h4{

	}
	h5{

	}
	h6{

	}
	p{

	}
	a{

		&:hover,
		&:visited,
		&:active{
			text-decoration: underline;
		}
		img{
			&.alignright{
				float: right;
				margin: 5px 0 20px 20px;
			}
			&.alignnone{
				margin: 5px 20px 20px 0;
			}
			&.alignleft{
				float: left;
				margin: 5px 20px 20px 0;
			}
			&.aligncenter{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.alignnone{

	}
	.aligncenter,
	div.aligncenter{
		display: block;
		margin: 5px auto 5px auto;
	}
	.wp-caption{
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;

		&.alignnone{
			margin: 5px 20px 20px 0;
		}
		&.alignleft{
			margin: 5px 20px 20px 0;
		}
		&.alignright{
			margin: 5px 0 20px 20px;
		}
		img{
			border: 0 none;
			height: auto;
			margin: 0;
			max-width: 98.5%;
			padding: 0;
			width: auto;
		}
		p.wp-caption-text{
			font-size: 11px;
			line-height: 17px;
			margin: 0;
			padding: 0 4px 5px;
		}
	}
	.screen-reader-text{
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		white-space: nowrap;
		height: 1px;
		width: 1px;
		overflow: hidden;

		&:focus{
			background-color: #f1f1f1;
			border-radius: 3px;
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
			clip: auto !important;
			color: #21759b;
			display: block;
			font-size: 14px;
			font-size: 0.875rem;
			font-weight: bold;
			height: auto;
			left: 5px;
			line-height: normal;
			padding: 15px 23px 14px;
			text-decoration: none;
			top: 5px;
			width: auto;
			z-index: 100000; /* Above WP toolbar. */
		}
	}
	.gallery{
		margin: 0 auto 18px;

		.gallery-item {
			float: left;
			margin-top: 0;
			text-align: center;
			width: 33%;
		}
		img {
			box-shadow: 0px 0px 4px #999;
			border: 1px solid white;
			padding: 8px;
			background: #f2f2f2;

			&:hover {
				background: white;
			}
		}
		.gallery-caption{
			color: #888;
			font-size: 12px;
			margin: 0 0 12px;
		}
		dl, dt{
			margin: 0;
		}
		br+br{
			display: none;
		}
	}
	.gallery-columns-2{

		.gallery-item{
			width: 50%;
		}
		.attachment-medium {
			max-width: 92%;
			height: auto;
		}
	}
	.gallery-columns-4{

		.gallery-item{
			width: 25%;
		}
		.attachment-thumbnail {
			max-width: 84%;
			height: auto;
		}
	}

}

.site-footer{
	color: $rd-theme-footer-text;
	padding: 40px 0px 80px;
	position:relative;
	background: $rd-theme-footer-bg;
	border-top: 5px solid $rd-theme-color-red;
	.widget-title{
		font-size: 1.3333333333333333rem;
		font-weight: bold;
		color: $rd-theme-footer-text;
		margin-bottom: 30px;
	}
	.widget{
		> div{
			padding-bottom: 30px;
		}
	}
	ul.menu{
		margin: 0;
		padding: 0;
		> li{
			list-style: none;
			color: $rd-theme-footer-text;
			margin-bottom: 15px;
			a{
				color: $rd-theme-footer-text;
				&:hover{
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
		> ul{
			display: none;
		}
	}
	i{
		font-size: 1.3333333333333333rem;
		margin-right: 15px;
	}
	h1{

	}
	h2{

	}
	h3{

	}
	h4{

	}
	h5{

	}
	h6{

	}
	p{

	}
	a{
		color: $rd-theme-footer-text;
		&:hover,
		&:visited,
		&:active{
			font-weight: bold;
			text-decoration: underline;
		}
	}
}

.cookie-notice-container{
	padding: 30px 0px;
	position: relative;
	#cn-accept-cookie{
		width: 18px;
		height: 18px;
		font-size: 0 !important;
		padding: 0px !important;
		top: 10px;
		right: 10px;
		position: absolute;
		border: 0px !important;
		box-shadow: 0px 0px 0px !important;
		background-color: rgba(0,0,0,0) !important;
		background-image: url('../images/close-icon.png') !important;
		background-repeat: no-repeat;
		background-position: center center !important;
		&:hover{
			background-position: center center !important;
		}
	}
}

.totop{
	color: $rd-theme-footer-text;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	bottom: 150px;
	right: 30px;
	cursor: pointer;
	display: none;
	.icon-totop{
		width: 44px;
		height: 44px;
		display: block;
		background-image: url('../images/icon-gototop.png');
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}
}

@import "style-responsive.scss";
