$rd-theme-header-bg : #fefefe;
$rd-theme-head-menu-font : #2b2b2b;
$rd-theme-head-menu-font-hover : #ca262c;
$rd-theme-head-submenu-bg : #f3f3f4;
$rd-theme-head-submenu-bg-hoer : #cc3136;
$rd-theme-head-submenu-font-hover : #ffffff;
$rd-theme-color-darkgray : #3b3b3b;
$rd-theme-color-gray : #cccccc;
$rd-theme-color-lightgray : #ebebeb;
$rd-theme-color-blue : #2b589d;
$rd-theme-color-red : #ca262c;
$rd-theme-button-bg : #ca262c;
$rd-theme-button-bg-hover : #971217;
$rd-theme-button-text : #ffffff;
$rd-theme-footer-bg : #132c42;
$rd-theme-footer-text : #ffffff;
