@import "../../../base/less/mixins";

@line_space_width: default;
@line_space_height: default;
@line_space_color: default;

.line-space{
	position:relative;
	&:before{
		content:'';
		width:@line_space_width;
		max-width:100%;
		height:@line_space_height;
		position:absolute;
		margin:0 auto;
		left:0;
		right:0;
		background-color:@line_space_color;
	}
}

