.text-masonry{
	 margon: 0 auto;
	 text-align: center;
}
.text-masonry .item{
	padding:5px 15px;
	margin: 0px;
	/*border: 1px solid red;*/
}
.text-masonry .item p{
	/*min-width: 250px;*/
	margin-bottom: 0px !important;
}
