@import "../../../base/less/mixins";

@button_style_text_color: #ffffff;
@button_style_bg_color: rgba(0,0,0,0);
@button_style_border_size: 0px;
@button_style_border_color: rgba(0,0,0,0);
@button_style_padding_top_bottom: 15px;
@button_style_padding_left_right: 20px;

@button_hoverstyle_text_color: #ffffff;
@button_hoverstyle_color: rgba(0,0,0,0);
@button_hoverstyle_border_color: rgba(0,0,0,0);

.custom-button{
	text-align:center;
	a{
		font-size:20px;
		color:@button_style_text_color;
		text-transform:uppercase;
		text-decoration:none;
		line-height: 100%;
		padding:@button_style_padding_top_bottom @button_style_padding_left_right;
		background-color:@button_style_bg_color;
		border:@button_style_border_size solid @button_style_border_color;
		display:inline-block;
		-moz-transition-property: all;
		-o-transition-property: all;
		-webkit-transition-property: all;
		transition-property: all;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		&:hover{
			color:@button_hoverstyle_text_color;
			background-color:@button_hoverstyle_color;
			border:@button_style_border_size solid @button_hoverstyle_border_color;
		}
	}
}

@media only screen and (max-width:480px) {
	.custom-button{
		a{
			padding:15px 20px;
		}
	}
}
