.box-arrow{
	position: relative;
}
.box-arrow-item{
	position: relative;
	margin-bottom: 40px;
}
.box-arrow-item .arrow_left{
	width: 62px;
	height: 22px;
	position: absolute;
	top: 30%;
	right: -31px;
	background-image : url('../img/arrow-left.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.box-arrow-item .arrow_right{
	width: 62px;
	height: 22px;
	position: absolute;
	top: 30%;
	left: -31px;
	background-image : url('../img/arrow-right.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.box-arrow-item .arrow_bottom{
	width: 22px;
	height: 37px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	margin: 0 auto;
	background-image : url('../img/arrow-botton.png');
	background-repeat: no-repeat;
	background-size: cover;
}