@import "../../../base/less/mixins";

@title_box_width: default;
@title_box_style_text_color: default;
@title_box_style_bg_color: default;
@title_box_style_border_size: default;
@title_box_style_border_color: default;
@title_box_padding_top: default;
@title_box_padding_left: default;

.title-box{
	text-align:center;
	.title-text{
		width:@title_box_width;
		max-width:100%;
		font-family: "NeoSansStd-Light";
		color: @title_box_style_text_color;
		font-size: 60px;
		text-transform: uppercase;
		line-height:100%;
		border: solid @title_box_style_border_size @title_box_style_border_color;
		display: inline-block;
		padding: @title_box_padding_top @title_box_padding_left;
		margin: 0 auto;
		background: @title_box_style_bg_color;
	}
}

@media only screen and (max-width:480px) {
	.title-box{
		.title-text{
			font-size: 30px;
			width: auto;
			margin: 0px 20px;
			word-wrap: break-word;
			word-break: break-all;
		}
	}
}

