@font-face {
  font-family: 'multicolore';
  src: url("../fonts/multicolore/Multicolore.ttf.woff") format("woff"), url("../fonts/multicolore/Multicolore.ttf.svg#Multicolore") format("svg"), url("../fonts/multicolore/Multicolore.ttf.eot"), url("../fonts/multicolore/Multicolore.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanistregular';
  src: url("../fonts/geomanist-regular/geomanist-regular-webfont.eot");
  src: url("../fonts/geomanist-regular/geomanist-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist-regular/geomanist-regular-webfont.woff2") format("woff2"), url("../fonts/geomanist-regular/geomanist-regular-webfont.woff") format("woff"), url("../fonts/geomanist-regular/geomanist-regular-webfont.ttf") format("truetype"), url("../fonts/geomanist-regular/geomanist-regular-webfont.svg#geomanistregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanistregular';
  src: url("../fonts/geomanist-light/geomanist-light-webfont.eot");
  src: url("../fonts/geomanist-light/geomanist-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist-light/geomanist-light-webfont.woff2") format("woff2"), url("../fonts/geomanist-light/geomanist-light-webfont.woff") format("woff"), url("../fonts/geomanist-light/geomanist-light-webfont.ttf") format("truetype"), url("../fonts/geomanist-light/geomanist-light-webfont.svg#geomanistregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanistregular';
  src: url("../fonts/geomanist-bold/geomanist-bold-webfont.eot");
  src: url("../fonts/geomanist-bold/geomanist-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist-bold/geomanist-bold-webfont.woff2") format("woff2"), url("../fonts/geomanist-bold/geomanist-bold-webfont.woff") format("woff"), url("../fonts/geomanist-bold/geomanist-bold-webfont.ttf") format("truetype"), url("../fonts/geomanist-bold/geomanist-bold-webfont.svg#geomanistregular") format("svg");
  font-weight: 700;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  border-left: 20px solid #0000cc;
  border-right: 20px solid #0000cc;
  border-bottom: 20px solid #0000cc;
}

body.home {
  background: #ebebeb;
  background-image: url("../img/head-section-bg.jpg");
  background-repeat: repeat-x;
  background-position: top center;
}
body.home .page {
  background-color: white;
}

a,
button {
  outline: 0 !important;
}
a:hover, a:visited, a:active,
button:hover,
button:visited,
button:active {
  outline: 0 !important;
}

.home .site-header {
  box-shadow: none;
}
.home .site-header .main-logo img {
  box-shadow: none;
}
.home .totalpoll-choices {
  border: 0 !important;
  margin: 0 !important;
}
.home .totalpoll-choices .totalpoll-choice {
  /*padding-bottom: 20px !important;*/
  min-height: 125px;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-checkbox-container {
  position: absolute !important;
  opacity: 0;
  border: 0 !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-label {
  text-align: center !important;
  font-size: 15px !important;
  font-family: 'multicolore' !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-image {
  text-align: center !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-content {
  padding: 5px 0 !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-container {
  border: 0 !important;
  background-color: transparent !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-container:hover {
  background-color: transparent !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes-bar {
  display: none !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes {
  text-align: center;
  font-size: 15px !important;
  font-family: 'multicolore' !important;
  margin-top: 0 !important;
}
.home .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes-text {
  padding-left: 0px !important;
}
.home .totalpoll-choices .totalpoll-choice-separator {
  display: none !important;
}
.home .totalpoll-question {
  text-align: center;
  text-decoration: underline;
  font-size: 18px !important;
  font-family: 'Geomanistregular' !important;
  font-weight: 400 !important;
}
.home .totalpoll-buttons {
  display: none !important;
}
.home .framenobottom #pl-w5a8cf0cc111ab .so-panel {
  margin-bottom: 0px !important;
}

.site-header {
  position: relative;
  z-index: 999;
  background: #0000cc;
  box-shadow: 0 8px 6px -6px #cccccc;
}
.site-header .header-logo a {
  display: inline-block;
}
.site-header .header-logo img {
  max-width: 100%;
  max-height: 43px;
}
.site-header .navbar {
  padding: 0px;
}
.site-header .navbar #primary-menu .search-form .form-group {
  width: 100%;
}
.site-header .navbar #primary-menu .search-form .form-group input[type="search"],
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"] {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"] {
  color: #ffffff;
  background: #ca262c;
}
.site-header .navbar #primary-menu .search-form .form-group input[type="submit"]:hover {
  background: #971217;
}
.site-header .navbar-brand {
  display: inline-block;
}
.site-header .navbar-brand img {
  max-width: 100%;
  max-height: 43px;
}
.site-header .top-bar .sub-menu {
  height: 100%;
}
.site-header ul.primary-menu {
  margin: 0;
  padding: 0;
}
.site-header ul.primary-menu li {
  list-style: none;
}
.site-header ul.primary-menu > li {
  position: relative;
}
.site-header ul.primary-menu > li > a {
  color: #ffffff;
  line-height: 100%;
  text-transform: uppercase;
  position: relative;
  padding: 20px 20px;
  display: block;
  font-family: "multicolore";
  font-size: 0.75rem;
}
.site-header ul.primary-menu > li:hover > a,
.site-header ul.primary-menu > li.current_page_item > a,
.site-header ul.primary-menu > li.current_page_parent > a,
.site-header ul.primary-menu > li.current-menu-ancestor > a,
.site-header ul.primary-menu > li.current-cat > a,
.site-header ul.primary-menu > ul > li.current-menu-item > a {
  text-decoration: none;
  color: #66ccff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.site-header ul.primary-menu ul.dropdown-menu {
  min-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 1px;
  z-index: 1000;
  background: #f3f3f4;
  border: 0px;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.site-header ul.primary-menu ul.dropdown-menu li {
  list-style: none;
  min-width: 260px;
  position: relative;
}
.site-header ul.primary-menu ul.dropdown-menu li a {
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 10px 20px;
  border-bottom: 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.site-header ul.primary-menu ul.dropdown-menu li a:hover,
.site-header ul.primary-menu ul.dropdown-menu li.current-menu-item a {
  color: #ffffff;
  text-decoration: none;
  background: #cc3136;
}
.site-header .header-search {
  position: relative;
}
.site-header .header-search .search-icon {
  color: #ffffff;
  line-height: 100%;
  display: inline-block;
  vertical-align: top;
}
.site-header .header-search .search-icon:not(.collapsed), .site-header .header-search .search-icon:active {
  color: #66ccff;
}
.site-header .header-search .header-search-form {
  position: absolute;
  bottom: -55px;
  right: 0px;
}
.site-header .header-search .header-search-form input[type="submit"] {
  display: none;
}
.site-header .header-search .header-search-form input[type="search"] {
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}

.main-logo {
  position: relative;
}
.main-logo img {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: -35px;
  z-index: 1000;
  box-shadow: 0 8px 6px -4px #cccccc;
  border-radius: 100%;
}

.mainmenusection {
  background-color: #ffffff;
  padding: 10px 10px;
}
.mainmenusection ul.secondmenu {
  margin: 0;
  padding: 0;
}
.mainmenusection ul.secondmenu li {
  list-style: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.mainmenusection ul.secondmenu > li {
  position: relative;
}
.mainmenusection ul.secondmenu > li > a {
  display: block;
  line-height: 100%;
  position: relative;
  padding: 20px 0;
  display: block;
  color: #3b3b3b;
  font-family: "multicolore";
  font-size: 1.125rem;
}
.mainmenusection ul.secondmenu > li:hover > a,
.mainmenusection ul.secondmenu > li.current_page_item > a,
.mainmenusection ul.secondmenu > li.current_page_parent > a,
.mainmenusection ul.secondmenu > li.current-menu-ancestor > a,
.mainmenusection ul.secondmenu > li.current-cat > a,
.mainmenusection ul.secondmenu > ul > li.current-menu-item > a {
  text-decoration: none;
  color: #ffffff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #0000cc;
}
.mainmenusection ul.secondmenu ul.dropdown-menu {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background: #0000cc;
  border: 0px;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mainmenusection ul.secondmenu ul.dropdown-menu li {
  list-style: none;
  position: relative;
}
.mainmenusection ul.secondmenu ul.dropdown-menu li a {
  font-family: "Geomanistregular";
  color: #ffffff;
  display: block;
  padding: 10px 20px;
  border-bottom: 0px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mainmenusection ul.secondmenu ul.dropdown-menu li a:hover,
.mainmenusection ul.secondmenu ul.dropdown-menu li.current-menu-item a {
  color: #ffffff;
  text-decoration: underline;
}
.mainmenusection ul.secondmenu .dropdown-toggle::after {
  display: none;
}
.mainmenusection ul.secondmenu .dropdown-menu {
  min-width: auto;
}

#mobile-menu {
  padding-bottom: 20px;
  border-top: 1px solid #ffffff;
}
#mobile-menu #menu-mobile-menu > li {
  margin: 0px 18px;
  border-bottom: 1px solid #ffffff;
  padding: 8px 0px;
}
#mobile-menu #menu-mobile-menu > li > a {
  font-size: 18px;
  font-family: 'multicolore';
  color: #ffffff;
  text-decoration: none;
}
#mobile-menu #menu-mobile-menu > li.active > a, #mobile-menu #menu-mobile-menu > li.show > a {
  color: #66ccff;
}
#mobile-menu .navbar-nav .dropdown-menu {
  background-color: #0000cc;
  border: none;
  margin-left: 20px;
}
#mobile-menu .navbar-nav .dropdown-menu > li {
  padding: 5px 0px;
}
#mobile-menu .navbar-nav .dropdown-menu > li > a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.site-content {
  position: relative;
  overflow: hidden;
}
.site-content .entry-title {
  font-family: "Geomanistregular" !important;
}
.site-content h1 {
  font-size: 2.625rem;
}
.site-content h2 {
  font-size: 2.125rem;
}
.site-content h3 {
  font-size: 1.5rem;
}
.site-content h4 {
  font-size: 1.125rem;
}
.site-content p {
  font-size: 0.9375rem;
  margin-top: 1rem;
}
.site-content a:hover, .site-content a:visited, .site-content a:active {
  text-decoration: underline;
}
.site-content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.site-content a img.alignnone {
  margin: 0;
}
.site-content a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.site-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.site-content .widget-title {
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  font-family: "multicolore";
  background-color: #0000cc;
  margin-bottom: 0px;
}
.site-content .widget-title-white {
  color: #000066;
  padding: 10px 15px;
  text-align: center;
  font-family: "multicolore";
  background-color: #ffffff;
  margin-bottom: 0px;
}
.site-content .label-white {
  background-color: #ffffff;
  color: #0000cc;
  padding: 5px 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
}
.site-content .label-blue {
  background-color: #0000cc;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
}
.site-content .aligncenter,
.site-content div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.site-content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.site-content .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.site-content .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.site-content .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.site-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.site-content .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.site-content .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.site-content .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.site-content .gallery {
  margin: 0 auto 18px;
}
.site-content .gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
.site-content .gallery img {
  box-shadow: 0px 0px 4px #999;
  border: 1px solid white;
  padding: 8px;
  background: #f2f2f2;
}
.site-content .gallery img:hover {
  background: white;
}
.site-content .gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px;
}
.site-content .gallery dl, .site-content .gallery dt {
  margin: 0;
}
.site-content .gallery br + br {
  display: none;
}
.site-content .gallery-columns-2 .gallery-item {
  width: 50%;
}
.site-content .gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.site-content .gallery-columns-4 .gallery-item {
  width: 25%;
}
.site-content .gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.site-content .grevelabel {
  padding: 5px 10px;
  background-color: #0000cc;
  display: inline-block;
  color: #ffffff;
}
.site-content .text-width-line .line-space {
  right: unset !important;
  margin: 10px auto;
}
.site-content .blog-feature {
  position: relative;
  min-height: 400px;
  border: 0px;
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}
.site-content .blog-feature .card-img-top {
  -moz-border-radius: 0px / 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px / 0px;
}
.site-content .blog-feature .card-body {
  position: relative;
  padding: 15px 10px;
}
.site-content .blog-feature .card-body .cat-name {
  line-height: 100%;
  text-transform: uppercase;
  padding: 5px 15px;
  position: absolute;
  top: -20px;
  left: 0;
}
.site-content .blog-feature .card-footer {
  border: 0px;
  background: none;
  font-size: 0.75rem;
}
.site-content .blog-feature .card-footer .author {
  text-transform: uppercase;
}
.site-content .blog-feature .card-footer .author:before {
  font-family: 'FontAwesome';
  content: '\f0c9';
  margin-right: 10px;
  color: #0000cc;
}
.site-content .blog-feature .card-footer .date {
  text-transform: uppercase;
}
.site-content .blog-feature-style1 .cat-name {
  color: #ffffff;
  background: #0000cc;
}
.site-content .blog-feature-style2 .link-more {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  padding: 5px 45px 5px 15px;
  line-height: 100%;
  color: #0000cc;
  background: #ffffff;
}
.site-content .blog-feature-style2 .link-more:after {
  width: 30px;
  height: 26px;
  line-height: 26px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  font-family: 'FontAwesome';
  content: '\f0da';
  color: #ffffff;
  background: #0000cc;
}
.site-content .blog-feature-style2 .cat-name {
  color: #ffffff;
  background: #0000cc;
}
.site-content .blog-feature-style3 .post-type {
  text-transform: uppercase;
  top: 0;
  right: 0;
  padding: 5px 15px;
  position: absolute;
  line-height: 100%;
  color: #ffffff;
  background: #6c8d99;
}
.site-content .blog-feature-style3 .cat-name {
  color: #ffffff;
  background: #6c8d99;
}
.site-content .blog-feature-style3 .card-footer .author:before {
  color: #6c8d99;
}
.site-content .all-news {
  padding-bottom: 30px;
}
.site-content .all-news .card-body {
  background: #e7e7e7;
}
.site-content .all-news .card-footer {
  background-color: #e7e7e7;
  border-top: 1px dotted #ffffff;
}
.site-content .filter-btn {
  background-color: #0000cc;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'multicolore';
  cursor: pointer;
}

.site-footer {
  color: #3b3b3b;
  font-family: "Geomanistregular";
  position: relative;
  background: #ffffff;
}
.site-footer .widget-title {
  font-size: 1.125rem;
  color: #3b3b3b;
  background: none;
  text-align: left;
  padding: 10px 0px;
}
.site-footer .widget > div {
  padding-bottom: 20px;
}
.site-footer ul.menu {
  margin: 0;
  padding: 0;
}
.site-footer ul.menu > li {
  list-style: none;
  color: #3b3b3b;
}
.site-footer ul.menu > li a {
  color: #3b3b3b;
}
.site-footer ul.menu > li a:hover {
  text-decoration: none;
  color: #0000cc;
}
.site-footer ul.menu > ul {
  display: none;
}
.site-footer i {
  font-size: 1.3333333333333333rem;
}
.site-footer a {
  color: #3b3b3b;
}
.site-footer a:hover, .site-footer a:visited, .site-footer a:active {
  text-decoration: none;
  color: #0000cc;
}
.site-footer .site-footer-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ebebeb;
}
.site-footer .site-footer-copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
}
.site-footer .site-footer-copyright p {
  margin-bottom: 0px;
}

.cookie-notice-container {
  padding: 30px 0px;
  position: relative;
}
.cookie-notice-container #cn-accept-cookie {
  width: 18px;
  height: 18px;
  font-size: 0 !important;
  padding: 0px !important;
  top: 10px;
  right: 10px;
  position: absolute;
  border: 0px !important;
  box-shadow: 0px 0px 0px !important;
  background-color: transparent !important;
  background-image: url("../images/close-icon.png") !important;
  background-repeat: no-repeat;
  background-position: center center !important;
}
.cookie-notice-container #cn-accept-cookie:hover {
  background-position: center center !important;
}

.totop {
  color: #3b3b3b;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 150px;
  right: 30px;
  cursor: pointer;
  display: none;
}
.totop .icon-totop {
  width: 44px;
  height: 44px;
  display: block;
  background-image: url("../images/icon-gototop.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.nf-form-fields-required {
  display: none;
}

footer .newsletter-box {
  background-color: #0000cc;
  padding: 15px;
  margin: 60px 0;
}
footer .newsletter-box .newsletter-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
  background-image: url("../img/computer-icon.png");
  background-position: center;
  background-size: cover;
}
footer .newsletter-box .newsletter-desc {
  color: white;
  font-size: 24px;
  font-family: 'Geomanistregular';
  font-weight: 400;
  display: block;
  float: left;
  margin-top: 12px;
  float: left;
}
footer .wrap-links {
  background-color: #ebebeb;
  padding: 40px 0;
}
footer .wrap-links .links .menu-footer-menu-container .footer-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
footer .wrap-links .links .menu-footer-menu-container .footer-links > li {
  width: calc(100% / 6);
  float: left;
  padding-right: 20px;
}
footer .wrap-links .links .menu-footer-menu-container .footer-links > li > a {
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'multicolore';
  font-weight: normal;
}
footer .wrap-links .links .menu-footer-menu-container .footer-links > li > a:hover, footer .wrap-links .links .menu-footer-menu-container .footer-links > li > a:focus {
  text-decoration: none;
}
footer .wrap-links .links .menu-footer-menu-container .sub-menu {
  padding: 0;
  list-style-type: none;
}
footer .wrap-links .links .menu-footer-menu-container .sub-menu > li > a {
  color: #3b3b3b;
  line-height: 35px;
  font-family: 'Geomanistregular';
  font-size: 15px;
}
footer .addr {
  padding: 30px 0;
  color: #3b3b3b;
}
footer .addr .sub-links {
  text-align: center;
  padding-left: 0px;
}
footer .addr .sub-links li {
  display: inline-block;
  position: relative;
  padding: 0 15px;
  font-size: 18px;
  color: #3b3b3b;
}
footer .addr .sub-links li:after {
  color: #cccccc;
  content: ".";
  position: absolute;
  right: -5px;
  top: -30px;
  font-size: 40px;
}
footer .addr .sub-links li > a {
  color: #3b3b3b;
}
footer .addr .sub-links li > a:hover {
  text-decoration: none;
  color: #0000cc;
}
footer .addr .sub-links li:last-child:after {
  display: none;
}
footer .addr .copyright {
  margin-top: 40px;
  text-align: center;
}
footer .addr .copyright p {
  font-size: 12px;
  margin: 0;
}
footer .our-social-media {
  text-align: center;
  margin-bottom: 60px;
}
footer .our-social-media strong {
  color: #cccccc;
  font-size: 18px;
  font-family: 'multicolore';
}
footer .our-social-media .social-icons {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}
footer .our-social-media .social-icons li {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 0 5px;
  background-color: #cccccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
footer .our-social-media .social-icons li:hover, footer .our-social-media .social-icons li:focus {
  opacity: 0.8;
  cursor: pointer;
}
footer .our-social-media .social-icons li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  position: relative;
  top: 6px;
}
footer .our-social-media .social-icons li a .fab.fa-facebook-f:before {
  content: "\f39e";
}

.mc4wp-form-fields {
  width: auto;
  background-color: white;
  padding: 15px;
}
.mc4wp-form-fields:after, .mc4wp-form-fields:before {
  content: '';
  display: table;
  width: 100%;
}
.mc4wp-form-fields .left-box {
  width: 70%;
  float: left;
  padding-right: 15px;
}
.mc4wp-form-fields .left-box input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #3b3b3b;
  margin-top: 10px;
}
.mc4wp-form-fields .left-box input:-moz-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields .left-box input::-moz-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields .left-box input:-ms-input-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields .left-box input::-webkit-input-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields .right-box {
  float: right;
  width: 30%;
  margin-top: 28px;
}
.mc4wp-form-fields .right-box input {
  background-color: #0000cc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Geomanistregular';
  border: 0;
  padding: 15px;
  line-height: 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.mc4wp-form-fields input[type="email"] {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #3b3b3b;
}
.mc4wp-form-fields input[type="email"]:-moz-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields input[type="email"]::-moz-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields input[type="email"]:-ms-input-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}
.mc4wp-form-fields input[type="email"]::-webkit-input-placeholder {
  color: #0000cc;
  font-size: 15px;
  font-family: 'Geomanistregular';
}

.rd-accordion .sow-accordion .sow-accordion-panel {
  border-bottom: 1px solid #3b3b3b;
  margin-bottom: 1px;
  padding: 10px 0;
}
.rd-accordion .sow-accordion .sow-accordion-panel:first-of-type {
  border-top: 1px solid #3b3b3b;
}
.rd-accordion .sow-accordion .sow-accordion-panel:nth-child(even) .sow-accordion-panel-header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODBweCIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODBweCIgc3RvcC1jb2xvcj0iIzMzOTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzOTlmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(80px, #ffffff), color-stop(80px, #3399ff), color-stop(100%, #3399ff));
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff 80px, #3399ff 80px, #3399ff);
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 80px, #3399ff 80px, #3399ff);
  background-image: linear-gradient(to right, #ffffff, #ffffff 80px, #3399ff 80px, #3399ff);
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODBweCIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODBweCIgc3RvcC1jb2xvcj0iIzAwMDBjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDBjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(80px, #ffffff), color-stop(80px, #0000cc), color-stop(100%, #0000cc));
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff 80px, #0000cc 80px, #0000cc);
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 80px, #0000cc 80px, #0000cc);
  background-image: linear-gradient(to right, #ffffff, #ffffff 80px, #0000cc 80px, #0000cc);
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  letter-spacing: 1px;
  padding-left: 55px;
  font-family: 'Geomanistregular';
  font-size: 24px;
  font-weight: 400;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {
  float: left;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button .sow-icon-ionicons {
  display: none;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button .sow-accordion-open-button:after {
  content: "\f061";
  position: relative;
  color: #0000cc;
  font-family: 'FontAwesome';
  font-size: 20px;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button .sow-accordion-close-button:after {
  content: "\f063";
  position: relative;
  color: #0000cc;
  font-family: 'FontAwesome';
  font-size: 20px;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  padding-left: 80px;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border strong {
  color: #0000cc;
  font-family: 'Geomanistregular';
  font-weight: 400;
  font-size: 24px;
}
.rd-accordion .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border p {
  font-family: 'Geomanistregular';
  font-weight: 300;
  font-size: 18px;
}

/*Event*/
.tribe-mini-calendar-event {
  width: auto !important;
  border-bottom: 1px solid #2c2c2c !important;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.tribe-mini-calendar-event:first-of-type {
  margin-top: 0px !important;
}
.tribe-mini-calendar-event .list-info {
  margin: 10px 0 0 !important;
}
.tribe-mini-calendar-event .tribe-events-duration {
  display: none;
}
.tribe-mini-calendar-event .list-info h2 {
  font-size: 18px !important;
  font-weight: normal !important;
  line-height: 1.4em !important;
}
.tribe-mini-calendar-event .list-info h2 a {
  color: #0000cc;
  font-weight: 700;
}

#tribe-events-content {
  margin-top: 60px;
}

.tribe-events-widget-link, .tribe-events-user-recurrence-toggle {
  display: none;
}

.tribe-events-list-event-title a {
  color: #3b3b3b;
}

a.tribe_paged {
  color: #3b3b3b;
  font-weight: 700;
  font-size: 14px;
}

.tribe-events-photo-event-wrap .tribe-events-event-details {
  padding: 15px 15px 0px 15px !important;
  position: relative;
}
.tribe-events-photo-event-wrap .catenameevent {
  line-height: 100%;
  text-transform: uppercase;
  padding: 5px 15px;
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #0000cc;
  color: #fff;
}
.tribe-events-photo-event-wrap .tribe-events-event-details {
  background: #e7e7e7;
}

.tribe-events-event-meta {
  background-color: #e7e7e7 !important;
  margin: 0 !important;
  padding: 8px 10px !important;
  border-top: 1px dotted #fff !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
}

h2.tribe-events-page-title {
  margin-bottom: 15px;
  color: #0000cc;
  font-weight: 700;
  text-align: center;
  font-size: 2.625rem;
}

@media screen and (min-width: 992px) {
  ul.primary-menu .dropdown-toggle::after {
    display: none;
  }

  #mobile-menu {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  html, body {
    margin: 0;
    padding: 0;
    border-left: 8px solid #0000cc !important;
    border-right: 8px solid #0000cc !important;
    border-bottom: 8px solid #0000cc !important;
  }

  .site-header ul.primary-menu > li > a {
    padding: 10px 0px;
  }

  .navbar-light .navbar-toggler {
    border: 0px;
    color: #66ccff;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url("../img/close.png") !important;
    background-size: 16px;
  }

  .dropdown-toggle::after {
    border: none !important;
    background-image: url("../img/mobile-arrow-1.png");
    width: 9px !important;
    height: 15px !important;
    position: absolute;
    right: 0;
    top: 15px;
  }

  .dropdown.show .dropdown-toggle::after {
    background-image: url("../img/mobile-arrow-2.png");
    border: none !important;
    width: 9px !important;
    height: 15px !important;
    position: absolute;
    right: 0;
    top: 15px;
  }

  .dropdown:not(.show) .dropdown-toggle::after {
    background-image: url("../img/mobile-arrow-1.png") !important;
  }

  .mainmenusection {
    display: none;
  }

  .mobilelook {
    position: absolute  !important;
    left: calc(100% - 70px);
    top: 16px;
  }

  .site-footer .widget-title {
    border-top: 1px solid #cccccc;
  }
  .site-footer .widget-title.toggle:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px;
    font-size: 2em;
    top: 4px;
  }
  .site-footer .widget-title.toggle.collapsed:before {
    content: '\f105';
  }
  .site-footer .widget-title.toggle:not(.collapsed):before {
    content: '\f104';
  }
}
@media screen and (max-width: 768px) {
  .mainmenusection {
    display: none;
  }

  .form-control {
    min-width: 180px;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .totop {
    right: 15px;
    bottom: 45px;
    font-size: 0px;
  }

  .site-header .container {
    padding: 0px;
  }
}
