.job-position.card{
	position:relative;
	padding:15px 0px;
	margin-bottom:0px;
	border:0px;
	border-top:1px solid #d7d7d7;
	border-radius:0px;
}
	.job-position:last-child{
		border-bottom:1px solid #d7d7d7;
	}
.job-header{
	position:relative;
	margin-bottom:0px;
}
	.job-header a,
	.job-header a:focus{
		font-size:22px;
		text-transform:uppercase;
		text-decoration:none;
		display:block;
		position:relative;
	}
	.job-header a.collapsed{
		color:#000000;
		margin-bottom:0px;
	}
		.job-header a.collapsed:after{
			content:'\f105';
			font-family:'FontAwesome';
			position:absolute;
			right: 0;
			top: 0;
			font-size: 30px;
			line-height: 100%;
		}
	.job-header a:not(.collapsed){
		color:#ee8617;
	}
		.job-header a:not(.collapsed):after{
			content:'\f104';
			font-family:'FontAwesome';
			position:absolute;
			right: 0;
			top: 0;
			font-size: 30px;
			line-height: 100%;
		}
	.job-header a:hover{
		color:#ee8617;
		text-decoration:none;
	}
.job-description-box{
	padding-top:35px;
	padding-bottom:40px;
}
.job-content{
	position:relative;
}
	.job-content h4{
		font-size:20px;
		text-decoration:uppercase;
		color:#373a3c;
		word-wrap: break-word;
		word-break: break-all;
		margin-bottom:10px;
		color: #ee8617;
	}
	.job-content > div{
		margin-bottom:35px;
	}
.job-last-section > p{
	margin-bottom:0px;
}
	.job-last-section label{
		width:170px;
		margin-bottom:0px;
		margin-right:10px;
	}

.job-submit-form{
	margin-bottom:0px !important;
}
.job-position-modal-dialog{
	display:inline-block;
	
}
	.job-position-modal-dialog .modal-dialog{
		top:70px;
	}
	.job-position-modal-dialog .modal-content{
		border-radius:0px;
	}
	.job-position-modal-dialog .modal-header{
		padding:5px;
		border-bottom:0px;
	}
	.job-position-modal-dialog .modal-header .close{
		font-size:30px;
		color:#939393;
		opacity:1;
	}
		.job-position-modal-dialog .modal-header .close:hover{
			opacity:0.2;
		}
	.job-position-modal-dialog .modal-button{
		text-align:center;
	}
		.job-position-modal-dialog .modal-button button.submit-job-form{
			color:#ffffff;
			background:#ee8617;
			border:1px solid #ee8617;
			padding:10px 20px;
			margin-right:30px;
		}
			.job-position-modal-dialog .modal-button button.submit-job-form:hover{
				color:#ee8617;
				background:#ffffff;
				border-color:#ee8617;
			}
		.job-position-modal-dialog .modal-button button.tellfriend-job-form{
			color:#ee8617;
			background:#ffffff;
			border:1px solid #ee8617;
			padding:10px 20px;
		}
			.job-position-modal-dialog .modal-button button.tellfriend-job-form:hover{
				color:#ffffff;
				background:#ee8617;
				border-color:#ee8617;
			}
		.job-position-modal-dialog .modal-button button{
			font-size:20px;
			text-transform:uppercase;
			text-decoration:none;
			padding:10px 20px;
			display:inline-block;
			cursor:pointer;
			outline:none;
			-moz-transition-property: all;
			-o-transition-property: all;
			-webkit-transition-property: all;
			transition-property: all;
			-moz-transition-duration: 0.2s;
			-o-transition-duration: 0.2s;
			-webkit-transition-duration: 0.2s;
			transition-duration: 0.2s;
		}
		.job-position-modal-dialog .modal-button button:hover{
			/*
			color:@modal_button_hoverstyle_text_color;
			background-color:@modal_button_hoverstyle_color;
			border:@modal_button_border_size solid @modal_button_hoverstyle_border_color;
			*/
		}
	.job-position-modal-dialog .modal-title{
		display:inline-block;
	}
	.job-position-modal-dialog .modal-body{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
	.job-position-modal-dialog form{
		max-width:100%;
		margin:0 auto;
		margin-top:30px;
	}
	.job-position-modal-dialog form p{
		font-size:17px;
		color:#333333;
		margin-bottom:25px;
	}
	.job-position-modal-dialog form	input[type="text"],
	.job-position-modal-dialog form	input[type="email"],
	.job-position-modal-dialog form	input[type="tel"]{
		width:100%;
		font-size:17px;
		color:#333333;
		border:0px;
		border-bottom:1px solid #dfdfdf;
		outline:none;
		border-radius:0px;
	}
	.job-position-modal-dialog form textarea{
		width:100%;
		height:100px;
		font-size:17px;
		border:0px;
		border-bottom:1px solid #dfdfdf;
		outline:none;
		border-radius:0px;
	}
	.job-position-modal-dialog form	input[type="submit"]{
		width: auto;
		max-width: 100%;
		font-size:20px;
		color:#ee8617;
		padding: 10px 20px;
		margin: 0 auto;
		text-transform: uppercase;
		background:none;
		border:1px solid #ee8617;
		cursor:pointer;
		border-radius:0px;
		-moz-transition-property: all;
		-o-transition-property: all;
		-webkit-transition-property: all;
		transition-property: all;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}
	.job-position-modal-dialog form	input[type="submit"]{
		padding:10px 50px;
	}
	.job-position-modal-dialog form	input[type="submit"]:hover{
		color:#ffffff;
		background:#ee8617;
	}
	/* do not group these rules */
	.job-position-modal-dialog form *::-webkit-input-placeholder {
		color:#333333;
		opacity:1;
	}
	.job-position-modal-dialog form *:-moz-placeholder {
		/* FF 4-18 */
		color:#333333;
		opacity:1;
	}
	.job-position-modal-dialog form *::-moz-placeholder {
		/* FF 19+ */
		color:#333333;
		opacity:1;
	}
	.job-position-modal-dialog form *:-ms-input-placeholder {
		/* IE 10+ */
		color:#333333;
		opacity:1;
	}
	
@media only screen and (max-width:480px) {
	.job-position-modal-dialog{
		display:block;
	}
	.job-position-modal-dialog .modal-button button{
		width:100%;
		padding:15px 20px;
		margin-bottom:20px;
		display:block;
	}
	.job-header a,
	.job-header a:focus{
		font-size: 20px;
	}
	.job-content h4{
		font-size: 20px;
	}
}

